extends ../etendues/base.pug

block variables
    - var erreur = erreur;
    - var session = session;

block contenu
    section#formulaire_connexion
        div.ligne
            form.fiche(method="post")
                h1 Einloggen
                div.ligne
                    label.input(for="adresse_mail_formulaire_connexion") E-Mail-Adresse
                        input#adresse_mail_formulaire_connexion(name="adresse_mail" type="email", required)
                    label.input(for="mot_de_passe_formulaire_connexion") Passwort
                        input#mot_de_passe_formulaire_connexion(name="mot_de_passe" type="password", required)
                button(type="submit") Einloggen
            div.fiche
                h1 Neuer Benutzer?
                a.bouton.attirant(href="/compte/inscription") Registrieren